# Rename this file to deploy.rb

# Fill slice_url in - where you're installing your stack to
role :statd_server, "<HOST IP>"

# Fill user in - if remote user is different to your local user
set :user, "<USER>"

default_run_options[:pty] = true
